services:
  redis:
    restart: unless-stopped
    image: redis:8.2.2
    command: redis-server --save 60 1 --loglevel warning
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
